@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FOLayout.cshtml";
}



<div id="content">
    @for (int i = 1; i < 19; i++)
{
    var url = "/UserFiles/Images/Agra-" + i + ".jpg";
    <div class="box">
        <div class="box-arrow">

            <div class="box-footer">
                <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash4/1229921_661986813819335_105860452_n.jpg" />
                <span class="box-owner">
                    <a href="#">VinaSale</a>
                    <span class="box-createdtime">1 tiếng trước</span>
                </span>
                <span class="box-tags">
                    <span>&nbsp;</span>
                    <a href="#">#Giảm giá</a>
                </span>
            </div>

            <div class="box-avatar">
                <img src="@url">
                @*<span class="box-like">
                    <img src="/UserFiles/Images/like.png" />
                </span>
                <span class="box-share">
                    <img src="/UserFiles/Images/share.png" />
                </span>*@
                @*<div class="box-like box-overlay">
                    <div class="center">
                        <span class="box-count">303k</span>
                        <span class="box-icon"><img src="/UserFiles/Images/like.png" /></span>
                    </div>
                </div>
                <div class="box-share box-overlay">
                    <div class="center">
                        <span class="box-count clicked">303k</span>
                        <span class="box-icon"><img src="/UserFiles/Images/share.png" /></span>
                    </div>
                </div>*@
            </div>

            <div class="box-header">
                <span class="box-icon-postname">
                    <img src="/UserFiles/Images/hot.png" />
                    <span>Giảm giá hot</span>
                </span>
            </div>

            <div class="box-shortdesc"><p>Sôi động mùa đông với chương ưu đãi cực hot! Giảm 50% tất cả các mặt hàng, dành cho các sản phẩm có giá từ 500.000 vnd.</p></div>

        </div>
        <div class="box-action">
            <span class="box-like">
                <span>312</span>
                <img src="/UserFiles/Images/like.png" />
            </span>
            <span class="box-share">
                <span>312</span>
                <img src="/UserFiles/Images/share.png" />
            </span>
            <span class="box-comment">
                <span>312</span>
                <img src="/UserFiles/Images/comment.png" />
            </span>
        </div>
    </div>
}
</div>
